@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

body {
    background-image: url(/Img/cool-background.png);
}

.grid-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
    grid-template-areas:
    "left about right"
    "left portfolio right"
    "left lang right"
    "left footer right";    
}

/* NAV BAR */

#nav-container {
    margin: 0 5rem;
    background-color: rgba(199, 212, 247, .3);
    padding-bottom: 1em;
    border-radius: 15px 15px;
    margin-bottom: 5rem;
}

#nav {
    list-style-type: none;
    margin: 1rem;
    padding: 0;
}

#nav h1, li {
    display: inline;
    padding-top: .5em;
}

#nav li {
    float: right;
    padding-left: 1em;
    transition-duration: .3s;  
    color: black;  
}

.about-container {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: rgba(199, 212, 247, .3);
    padding-bottom: 1em;
    border-radius: 15px 15px;
    width: 40rem;
    }





/* Image and text  properties */

.portfolio-container img {
    border-radius: 10px;
    border: 2px solid rgb(189, 201, 224);
    padding: 5px;
}

header {
    font-family: 'Roboto', sans-serif;
}

#nav h1 {
    font-family: 'Fredoka One', cursive;
}

#nav li:hover {
    transition-duration: .3s;
    font-weight: bold;
    font-size: 18px;
}

#nav li:visited {
    color: black;
}

main {
    font-family: 'Roboto', sans-serif;
}

footer {
    font-family: 'Roboto', sans-serif;
}